@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Oswald&display=swap");

/* Box Model Hack */
* {
	box-sizing: border-box;
	border: none;
}

/* Clear fix hack */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
	font-size: 62.5%;
}

body {
	font-family: "Lora", serif;
	margin: 0;
	padding: 0px;
	font-size: 1.5rem;
	--primaryColor: white;
	--secondaryColor: black;
	--textColor: white;
	--textColorV2: black;
	--shadeColor: #f3f4f6;
	--padding: 10%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
}

ul,
li {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
a:active,
a:link,
a:visited {
	color: var(--textColor);
	text-decoration: none;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
	display: flex;
	flex-direction: column;
}

body > * {
	padding: 20px var(--padding);
}

header {
	background-color: black;
	color: white;
}

nav {
	display: flex;
	justify-content: space-between;
	text-align: center;
	gap: 10%;
}

nav > * {
	min-width: fit-content;
}

nav > ul {
	display: flex;
	width: 100%;
	justify-content: space-between;
	gap: 3%;
}

main {
	padding: 0% var(--padding) 5%;
	background-image: url(https://images.fresha.com/locations/location-profile-images/618855/685680/c69f5522-1d64-4d94-8fe3-d2565fc8eab7.jpg?class=width-large);
	background-size: cover;
	color: var(--textColor);
}

main > section:first-child {
	padding: 10% 0% 5%;
}

main span {
	display: block;
	padding: 10px 0px 15px;
}

section > button {
	display: block;
	padding: 10px 20px;
	background-color: var(--secondaryColor);
	color: var(--textColor);
}

main > section + section {
	background-color: var(--secondaryColor);
	width: fit-content;
	padding: 10px 20px;
}

main > section + section > button {
	background-color: var(--primaryColor);
	color: var(--textColorV2);
}

main + section {
	display: flex;
	justify-content: center;
	align-self: center;
	padding: 50px var(--padding);
}

.services {
	display: flex;
	justify-content: center;
	align-self: center;
	gap: 5%;
}

.services > section {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.services > section > i {
	text-align: center;
	font-size: 4rem;
}

.mid-section {
	display: flex;
	justify-content: center;
	min-height: 400px;
	background-color: var(--shadeColor);
	gap: 5%;
}

.mid-section > section {
	display: flex;
	flex-direction: column;
	width: 50%;
	justify-content: center;
	gap: 20px;
}

.mid-section > section + section {
	background-image: url("http://placekitten.com/g/400/300");
	background-size: cover;
}

.stylist {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 30px;
}

.stylist > section {
	display: flex;
	background-image: url(http://placekitten.com/g/400/400);
	background-size: cover;
	height: 400px;
	max-width: 300px;
	width: 33%;
	justify-content: center;
	align-items: end;
}

.stylist > section > section {
	position: relative;
	top: 20px;
	background-color: var(--secondaryColor);
	color: var(--textColor);
	padding: 10% 20%;
}

.lookbook {
	text-align: center;
}

.promo {
	background-color: var(--shadeColor);
}

h1 {
	font-size: 5rem;
}

.mobile {
	display: none;
}
@media screen and (max-width: 900px) {
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}
	nav {
		font-size: 2.5rem;
	}

	main {
		background-position: center;
	}
}

@media screen and (max-width: 500px) {
	.services,
	.stylist,
	.mid-section {
		flex-direction: column;
		width: 100%;
		align-items: center;
	}

	.stylist > section,
	.mid-section > section {
		width: 100%;
		min-height: 200px;
		margin: 30px 0px;
	}
}
